body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background:url("../images/background.png");
    margin:0;
    padding:0;

    overflow-x:hidden;
}

/************************************************************************

CSS FOR HOMEPAGE chartlist.dt

Think Symetry for this or it will look terrible
    [][][]
    [][][]
    [][][]

*************************************************************************/



/*********************
* Top Header CSS
**********************/
#header{
    width: 100%;
    height: 70px;
    position: fixed;
    top:0;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
    z-index: 20;

    /****************
    * CSS Background
    * for Top header
    *****************/
    background: rgb(197,222,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
}

#header img{
    height: 70px;
    position: fixed;
}

#header h1{
    display:inline-block;
    text-decoration: none;
    font-size:20px;
    box-shadow: 0 0 5px 2px #888;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    left: 55%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background: rgb(181,189,200); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 1%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(1%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 1%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 1%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 1%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 1%,rgba(40,52,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

#header h1:hover{
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}


/*******************
* Chartlist CSS
*******************/
#outerWrapper {
    text-align:center;
    width: 100%;
    overflow:hidden;
}

#innerWrapper {
    width: 950px;
    height: 100%;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 40px;
}


#optionsToggle{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    width:300px;
}

.column1{
    float: left;
    width: 250px;
    height: 100%;
    overflow:hidden;
    margin-left: 50px;
    margin-right: 25px;
}

.column2{
    float: left;
    width: 250px;
    height: 100%;
    overflow:hidden;
    margin-left: 25px;
    margin-right: 25px;
}

.column3{
    float: left;
    width: 250px;
    height: 100%;
    overflow:hidden;
    margin-left: 25px;
    margin-right: 25px;
}


/************
*Chart Boxes
*************/

.box{
    float: left;
    width: 248px;
    overflow:hidden;
    margin-bottom: 30px;
    border: 1px solid black;
    height: 120px;
    border-radius: 20px;
    background:white;
    background-position:center;
}

.box p{
    display:inline-block;
    text-decoration: none;
    box-shadow: 0 0 5px 2px #888;
    text-align: center;
    font-size:18px;
    background: rgb(208,228,247); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
    padding: 10px;
    margin-top: 35px;
    border-radius: 90px;
    color: white;
}

.box:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}




/**********************************************
*   WORLD FLAGS Backgrounds
***********************************************/

/************
    USA
*************/

.usa{
    background:url('../images/usaflag.jpg');
    background-position:center;
    color:;
}

/*****************
*   UK
******************/

.uk{
    background:url('../images/ukflag.jpg');
    background-position:center;
}

/*****************
*   Ireland
******************/

.ireland{
    background:url('../images/irelandflag.jpg');
    background-position:center;
}

/*****************
*   Germany
******************/

.germany{
    background:url('../images/germanflag.png');
    background-position:center;
}

/*****************
*   Europe
******************/

.euro{
    background:url('../images/euflag.jpg');
    background-position:center;
}

/*****************
*   Canada
******************/

.canada{
    background:url('../images/canadaflag.jpg');
    background-position:center;
}

/*****************
*   Global
******************/

.global{
    background:url('../images/globe.jpg');
    background-position:center;
}


/***************************************************
*
*   CSS FOR HOMEPAGE music.dt
*
***************************************************/

/************
* Buttons for
* -Play Next
* -StayOnPage
* -Shuffle
* -Play Previous
* [][][][]
*************/
#buttonBoxHead{
    width:400px;
    margin-left:-200px;
    margin-top:70px;
    position:fixed;
    left:50%;
    overflow:hidden;
    height:25px;
    border-radius: 0px 0px 30px 30px;
    z-index: 30;

    text-align: center;
    color: black;
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
    font-weight: 100px;
    font-size: 18px;
    padding-top:5px;
}

#buttonBoxHead:hover{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}


#buttonBox{
    width:400px;
    position:fixed;
    left:50%;
    margin-left:-200px;
    margin-top:70px;
    height:60px;
    overflow: hidden;
    z-index: 20;

    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


.button{
    float:left;
    width:50px;
    height:50px;
    margin-top:5px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;

    background: rgb(228,245,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 18%, rgba(159,216,239,1) 33%, rgba(42,176,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(18%,rgba(191,232,249,1)), color-stop(33%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 18%,rgba(159,216,239,1) 33%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 18%,rgba(159,216,239,1) 33%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 18%,rgba(159,216,239,1) 33%,rgba(42,176,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 18%,rgba(159,216,239,1) 33%,rgba(42,176,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.button a{
    text-align: center;
    text-decoration: none;
    color:black;
}

.button img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width:20px;
    height:auto;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.button a p{
    position:fixed;
    top:0px;
    font-size: 60px;
    padding-left: 8px;
}

.button a p.singleBracket{
    padding-left: 15px;
}

.button:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.pause{
    font-size: 15px;
    padding-top: 15px;
    padding-right:5px;



    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}




/****************
* Youtube Player
*****************/
#playerBox{
    margin-top: 110px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width: 700px;
    height:400px;
}

#player{

}



/***************************************************************
*                       CoverFlow Stuff
***************************************************************/
/********************
*   CoverFlow Headings
*********************/
#coverflowIndex{
    margin-top:10px;
    width:510px;
    height:35px;
    margin-left: auto;
    margin-right:auto;
}

#coverflowIndex .indexPos{
    float:left;
    width:100px;
    height:35px;
    text-align: center;
    color:black;
    font-size:15px;
    line-height: 35px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right:5px;
    font-weight: 800;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.goToBox{
    float:left;
    width:170px;
    height:35px;
    text-align: center;
    color:black;
    font-size:15px;
    line-height: 35px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right:5px;
    font-weight: 800;

    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#goToBoxText{
    width:30px;
    height:20px;
}

#goToBoxSubmit{
    width:50px;
}


#coverflowIndex .indexPos:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#coverflowIndex .indexPos.goToBox:hover{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#goToBoxSubmit:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#coverflowIndex .indexPos:nth-child(even){
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

#coverflowIndex .indexPos:nth-child(odd){
    color:white;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}



/********************
*   CoverFlow
*********************/
.coverflow{

}

.coverflow .cover {
    margin-top:10px;
    width: 80px;
    height: 60px;
    cursor: pointer;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    padding-top:15px;
    border: 5px solid grey;

    color: black;
    background: rgb(228,245,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 18%, rgba(159,216,239,1) 33%, rgba(42,176,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(18%,rgba(191,232,249,1)), color-stop(33%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 18%,rgba(159,216,239,1) 33%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 18%,rgba(159,216,239,1) 33%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 18%,rgba(159,216,239,1) 33%,rgba(42,176,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 18%,rgba(159,216,239,1) 33%,rgba(42,176,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.coverflow .cover.current {
    opacity: 1;

    color:white;
    background: #f3c5bd; /* Old browsers */
    background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 0%, #ea2803 0%, #ff6600 0%, #c72200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(0%,#e86c57), color-stop(0%,#ea2803), color-stop(0%,#ff6600), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 0%,#ea2803 0%,#ff6600 0%,#c72200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3c5bd 0%,#e86c57 0%,#ea2803 0%,#ff6600 0%,#c72200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3c5bd 0%,#e86c57 0%,#ea2803 0%,#ff6600 0%,#c72200 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 0%,#ea2803 0%,#ff6600 0%,#c72200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}


.coverflow .cover.current:after {
    background-color: white;
    display:block;
    position: absolute;
    width: 132px;
    height: 16px;
    left: -16px;
    bottom: -16px;
}

/*****************************************
* Hover card
******************************************/
#hovercard{
    overflow:hidden;
    width: 700px;
    height:400px;
    z-index: 10;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -350px;
    display:none;
    margin-top: 110px;

    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */

    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

#hovercard #artist{

    top:0;
    left:0;
    position: absolute;
    height:30%;
    width:400px;
    white-space: nowrap;
    overflow: hidden;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    text-align: left;
    padding-left: 20px;
    color:white;
    word-wrap: normal;
}

#artist span{
    font-size:20px;
    line-height: 20px;
    text-decoration:underline;
    line-height: 20px;
}

#artist h3{
    text-align: left;
    font-size:50px;
    line-height: 0px;

    text-shadow:
    1px 1px 0 #CCC,
    2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
    3px 3px 0 #444,
    4px 4px 0 #444,
    5px 5px 0 #444,
    6px 6px 0 #444; /* end of 4 level deep dark shadow */
}



#hovercard #songName{
    top:30%;
    left:0;
    position: absolute;
    height:30%;
    width:400px;
    white-space: nowrap;
    overflow: hidden;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    text-align: left;
    padding-left: 20px;
    color:white;
    word-wrap: normal;

}

#songName span{
    font-size:20px;
    line-height: 20px;
    text-decoration:underline;
    line-height: 20px;
}

#songName h3{
    text-align: left;
    font-size:50px;
    line-height: 0px;

    text-shadow:
    1px 1px 0 #CCC,
    2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
    3px 3px 0 #444,
    4px 4px 0 #444,
    5px 5px 0 #444,
    6px 6px 0 #444; /* end of 4 level deep dark shadow */
}

#hovercard #chartName{
    top:60%;
    left:0;
    position: absolute;
    height:30%;
    width:400px;
    white-space: nowrap;
    overflow: hidden;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    text-align: left;
    padding-left: 20px;
    color:white;
    word-wrap: normal;
}

#chartName span{
    font-size:20px;
    line-height: 20px;
    text-decoration:underline;
    line-height: 20px;
}

#chartName h3{
    text-align: left;
    font-size:50px;
    line-height: 0px;

    text-shadow:
    1px 1px 0 #CCC,
    2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
    3px 3px 0 #444,
    4px 4px 0 #444,
    5px 5px 0 #444,
    6px 6px 0 #444; /* end of 4 level deep dark shadow */
}

#hovercard #position{
    left:400px;
    position: absolute;
    height:700px;
    width:300px;
    overflow:hidden;

    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    color:white;
    word-wrap: normal;
}

#position span{
    font-size:20px;
    line-height: 20px;
    text-decoration:underline;
    line-height: 20px;
    word-wrap: normal;
}

#position h3{
    text-align: center;
    font-size:130px;
    line-height: 0px;

    text-shadow:
    1px 1px 0 #CCC,
    2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
    3px 3px 0 #444,
    4px 4px 0 #444,
    5px 5px 0 #444,
    6px 6px 0 #444; /* end of 4 level deep dark shadow */
}


/*****************************************************
*
*           ERROR.dt
*
******************************************************/

#errorMessage{
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    width:600px;
    margin-right: auto;
    margin-left: auto;
    border-radius:50%;
    margin-top: 80px;
    color:white;
    font-size: 20px;
    line-height: 25px;
    font-weight: 800px;

    box-shadow:
    1px 1px 0 #CCC,
    2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
    3px 3px 0 #444,
    4px 4px 0 #444,
    5px 5px 0 #444,
    6px 6px 0 #444; /* end of 4 level deep dark shadow */

    background: #feccb1; /* Old browsers */
    background: -moz-linear-gradient(top, #feccb1 0%, #ea5507 0%, #f17432 100%, #fb955e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(0%,#ea5507), color-stop(100%,#f17432), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feccb1 0%,#ea5507 0%,#f17432 100%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feccb1 0%,#ea5507 0%,#f17432 100%,#fb955e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feccb1 0%,#ea5507 0%,#f17432 100%,#fb955e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #feccb1 0%,#ea5507 0%,#f17432 100%,#fb955e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
}

#dangerZoneBox {
    margin-top:20px;
}

/*********************************************
*
*			CONTACT.dt
*
********************************************/

#contact-form {
    background-color:#F2F7F9;
    width:460px;
    padding:20px;
    margin: 50px auto;
    border: 6px solid #8FB5C1
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
    }

#contact-form h1 {
   	font-size: 22px;
   }

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}

#contact-form textarea {
    height:150px;
    resize: none;
}

#contact-form label {
    display:block;
}

#contact-form .required {
    font-weight:bold;
    color:#F00;
}

#contact-form #submit-button {
    min-width: auto;
    max-width: 33%;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}

#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}

#contact-form #submit-button:active {
    position:relative;
    top:1px;
}

#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../images/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}

#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../images/error.png) no-repeat 405px center;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;
}

#errors li:before {
    content: ' - ';
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';
}

#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../images/success.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;
}

#req-field-desc {
    font-style:italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
    color:#CCC;
    font-style:italic;
}
